<%- include('header') %>
<div class="ui grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
		<form class="ui form segment" method="post" enctype="multipart/form-data">
			<div class="field required">
				<label>Username</label>
				<input type="text" name="name" placeholder="username">
			</div>
			<div class="field required">
				<label>Password</label>
				<input type="password" name="password" placeholder="password">
			</div>			
			<div class="field required">
				<label>Re-password</label>
				<input type="password" name="repassword" placeholder="repassword">
			</div>			
			<div class="field required">
				<label>Gender</label>
				<select class="ui compact selection dropdown" name="gender">
					<option value="m">Male</option>
					<option value="f">Female</option>
					<option value="x">Confidential</option>
				</select>
			</div>
			<div class="field required">
				<label>photo</label>
				<input type="file" name="avatar">
			</div>
			<div class="field required">
				<label>Info</label>
				<textarea name="bio" rows="5"></textarea>
			</div>
			<input type="submit" class="ui button fluid" value="register">
		</form>
	</div>
</div>

<%- include('footer') %>