<%- include('header') %>

<div class="ui grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
		<form class="ui form segment" method="post">
			<div class="field required">
				<label>User name</label>
				<input type="text" name="name" placeholder="Username">
			</div>
			<div class="field required">
				<label>Password</label>
				<input type="password" name="password" placeholder="Password">
			</div>
			<input type="submit" class="ui button fluid" value="login">
		</form>
	</div>
</div>

<%- include('footer') %>